.star-container{
    display: flex;
    
    align-items: center;
    justify-content: center;

    
    width: 150px;

    margin-bottom: 10px;


}

.star{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;

}