.movieList {
    margin-top: 5px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.movieList-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 10px;
    width: 250px;
    border-radius: 5px;
}

input:hover{
    border: solid black;
}