.movie{
    max-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImage{
    max-height: 250px;
    max-width: 200px;
    object-fit: cover;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}